body {

    background-color: gray;
}
h1 {
    font-family: Times,Serif ;
    font-size: 24pt;
    color: white;
}
h2 {
    font-family: Times,Serif;
    font-size: 18pt;
    color: silver;
}
p1 {
    font-family: Arial;
    font-size: 15pt;
    line-height: 20pt;
    margin-left: 1in;
}
