h1 {
    color: green;
    font-family: 'Indie Flower', cursive;
    margin-top: 20px;
    margin-bottom: 0%;
    margin-left: 20px;
}

h2 {
    margin-left: 50px;
    color: green;
}

nav {
    background-color: darkslategray;
    color: white;
    margin-top: 0%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

}

a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

body {
    margin: 0%;
    font-family: 'Indie Flower', cursive;
}


figure {
    float: left;
}

h3 {
    color: cadetblue;
    margin-bottom: 10px;
}

.release {
    margin-left: 25px;
    margin-bottom: 0%;
    margin-top: 5px;
}

.datum {
    margin-left: 25px;
    margin-top: 0%;
}

article {
    float: left;
}

.scoreVerkocht {
    float: left;
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 0%;
}

.marginLIst {
    margin-bottom: 20px;
}
